@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #f7f7f7;
  color: #1c1c1c;

  margin: 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 20px;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
}
.perfil {
  display: flex;
}
.perfil-foto {
  border-radius: 460px;
  max-height: 110px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}
.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}
.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}
.tema button {
  align-self: flex-end;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}
.projetos {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  padding: 32px;
}

.textinho {
  list-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 56px;
  text-align: center;
}

.projetos-linha {
  list-style-type: none;
  font-size: 17px;
  font-weight: 400px;
  line-height: 45px;
}

.projetos-linha a {
  color: #1c1c1c;
  text-decoration: none;
}

.rede-social {
  list-style-type: none;
  font-size: 17px;
  font-weight: 400px;
  line-height: 45px;
  text-align: left;
}
.rede-social a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}
.dark .container {
  background: #333439;
  color: #0e1d2f;
}